<form #f="ngForm">

    <div class="form-row">
        <div class="form-group col-sm-6">
            <label for="firstsame">First Name</label>
            <input required #firstName="ngModel" placeholder="firstname" [(ngModel)]="user.name" class="form-control" type="text" name="firstsame" id="firstsame">
            <div *ngIf="firstName.invalid" class="alert-danger">The field first name is required</div>
        </div>
        <div class="form-group col-sm-6">
            <label for="lastsame">Last Name</label>
            <input placeholder="lastname" [(ngModel)]="user.lastname" class="form-control" type="text" name="lastname" id="lasttsame">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-sm-6">
            <label for="fiscalcode">Fiscal Code</label>
            <input [(ngModel)]="user.fiscalcode" class="form-control" type="text" name="fiscalcode" id="fiscalcode">
        </div>
        <div class="form-group col-sm-6">
            <label for="phone">Phone</label>
            <input [(ngModel)]="user.phone" class="form-control" type="text" name="phone" id="phone">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-sm-6">
            <label for="email">Email</label>
            <input [(ngModel)]="user.email" class="form-control" type="email" name="email" id="email">
        </div>
        <div class="form-group col-sm-6">
            <label for="age">Age</label>
            <input [(ngModel)]="user.age" class="form-control" type="number" name="age" id="age">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-sm-6 offset-sm-3">
            <label for="province">Province</label>
            <input [(ngModel)]="user.province" class="form-control" type="text" name="province" id="province">
        </div>
    </div>

    <div class="form-group form-footer text-center">
        <button (click)="backToUser()" class="btn btn-primary">BACK</button>
        <button class="btn btn-secondary" (click)="resetForm()">RESET</button>
        <button [disabled]="f.invalid" class="btn btn-success" (click)="saveUser()">SAVE</button>
    </div>
</form>
